@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
  padding-top: 70px;
  position: relative;
  background-image: url("https://cloud.githubusercontent.com/assets/8481204/4476314/1b83455e-4975-11e4-8bc6-f4087437e94a.jpg");
  background-repeat: repeat;
}

.well {
  height: 1000px
  padding-top: 50px;
  background-color: rgba(0,0,0,0.3);
}
